/**
 * Config
 *
 * All the variables used in the theme
 */

// @font-face {
//   font-family: AvenirLTStd;
//   font-style: normal;
//   font-weight: 400;
//   src: url('dist/fonts/AvenirLTStd-Book.woff');
// }

/**
 * Grayscale
 */

$colour-black: #2a2a2a; // rgb(42, 42, 42)
$colour-grey-darkest: #3d3d3d; // rgb(61, 61, 61)
$colour-grey-darker: #525252; // rgb(82, 82, 82)
$colour-grey-dark: #666; // rgb(102, 102, 102)
$colour-grey: #7a7a7a; // rgb(122, 122, 122)
$colour-grey-light: #a4a4a4; // rgb(164, 164, 164)
$colour-grey-lighter: #ccc; // rgb(204, 204, 204)
$colour-grey-lightest: #f4f4f4; // rgb(244, 244, 244)
$colour-white: #fff; // rgb(255, 255, 255)

/**
 * Colours
 */

/**
 * Font families
 */

$font-family-default: sans-serif;
$font-family-serif: serif;
$font-family-mono: MonoWeb, monospace;

/**
 * Font sizes
 */

$font-size-tiny: 0.625rem; // 10px
$font-size-smaller: 0.75rem; // 12px
$font-size-small: 0.875rem; // 14px
$font-size-default: 1rem; // 16px
$font-size-large: 1.25rem; // 20px
$font-size-larger: 1.5rem; // 24px
$font-size-big: 1.75rem; // 28px
$font-size-bigger: 2.25rem; // 36px
$font-size-huge: 4rem; // 64px

/**
 * Font weights
 */

$font-weight-default: 400;
$font-weight-bold: 800;

/**
 * Line-heights
 */

$line-height-tight: 1.25;
$line-height-default: 1.5;

/**
 * Breakpoints
 */

$viewport-xsmall: 480px;
$viewport-small: 600px;
$viewport-medium: 768px;
$viewport-mlarge: 992px;
$viewport-large: 1200px;
$viewport-xlarge: 1382px;
$viewport-big: 1920px;
$viewport-bigger: 2560px;
