/**
 * Grid
 *
 * For displaying content in a grid layout. All cell widths and offsets should be
 * applied to child grid cells.
 */

.Grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Apply gutters to the grid cells */

.Grid--withGutters {
  margin-left: -1rem;
  margin-right: -1rem;

  > .Grid-cell {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/**
 * Grid cell
 *
 * The individual cells that make up the grid
 *
 * These are Full width by default. Apply sizing and behaviour by combining
 * `Grid-cell` with a component class.
 */

.Grid-cell {
  flex-basis: 100%;
  flex-shrink: 0;
}
